@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
}

@media (width <= 1250px) {
	.pokemons-div {
		flex-direction: column;

		& img {
			width: 100%;
		}
	}
}
